{% extends "core/base.html" %}
{% block content %}
{% load static %}
<div class="welcome-hero-serch-box">
  {% load welcome_hero %} {%  welcome_form  %}
</div>
<section id="works" class="works" style="margin-top:100px; margin-button:100px">
  <div class="container">
    <div class="section-header">
      <h2>Lugares disponibles para ti</h2>
    </div>
    <div class="row">
      {% for place in object_list %}
      <div class="col-md-4 col-sm-6">
        <div class="single-exfplore-item">
          <div class="single-explore-img">
            <img src="{% static 'core/assets/images/explore/e1.jpg' %}" alt="explore image" />
            <div class="single-explore-img-info">
              <div class="single-explore-image-icon-box">
                <ul>
                  <li>
                    <div class="single-explore-image-icon">
                      <i class="fa fa-arrows-alt"></i>
                    </div>
                  </li>
                  <li>
                    <div class="single-explore-image-icon">
                      <i class="fa fa-bookmark-o"></i>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="single-explore-txt bg-theme-1">
            <h2><a href="#">{{ place.name_place }}</a></h2>
            <p class="explore-rating-price">
              <span class="explore-price-box">
                from <span class="explore-price">{{ place.budget }}</span>
              </span>
              <a href="#">{{ place.destiny }}</a>
              <a href="#">{{ place.city }}</a>
            </p>
            <div class="explore-person">
              <div class="row">
                <div class="col-sm-2">
                  <div class="explore-person-img">
                    <a href="{% url 'home' %}">
                      <img src="{% static 'core/assets/images/explore/person.png' %}" alt="explore person" />
                    </a>
                  </div>
                </div>
                <div class="col-sm-10">
                  <p>{{ place.description|striptags|safe|truncatechars:"100" }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% empty %}
      <h1>No hay sitios encontrados.</h1>
      {% endfor %}
  </section>
</div>
{% endblock %}
