{% extends "core/base.html" %} 
{% block content %} 
{% load static %}
<!-- Single News -->
<section class="news-single section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-12">
        <div class="row">
          <div class="col-12">
            <div class="single-main">
              <!-- News Head -->
              <!-- News Head -->
              <div class="news-head">
                <img src="{{object.image.url}}" alt="#" />
              </div>
              <!-- News Title -->
              <h1 class="news-title"><b>{{object.name_place}}</b></h1>
              <!-- Meta -->
              <div class="meta">
                <div class="meta-left">
                  <span class="author mt-2"
                    ><p class="mt-5"> Presupuesto estimado: {{object.budget}}$</p></span
                  >
                  <span class="date mb-2"
                    ><i class="fa fa-clock-o"></i>Lugar: {{object.destiny}}</span
                  >
                  <span class="date mb-2"
                    ><i class="fa fa-clock-o"></i>Ciudad: {{object.city}}</span
                  >
                </div>
              </div>
              <!-- News Text -->
              <div class="news-text">
                <p>{{object.description|linebreaksbr}}</p>
              </div>
            </div>
          </div>
          {% endblock content %}
        </div>
      </div>
    </div>
  </div>
</section>
