{% extends "core/base.html" %} 
{% block content %} 
{% load static %}
<section id="home" class="welcome-hero">
  <div class="container">
    <div class="welcome-hero-txt">
      <h2>
        El mejor lugar para conseguir <br />
        eso que necesitas
      </h2>
      <p>
        Encuentra los mejores restaurantes, hoteles y hospitales para tu bienestar solo con pocos clicks
      </p>
    </div>
    <div class="welcome-hero-serch-box">
      {% load welcome_hero %} {%  welcome_form  %}
    </div>
  </div>
</section>
<!--/.welcome-hero-->
<!--welcome-hero end -->

<!--list-topics start -->
<section id="list-topics" class="list-topics">
  <div class="container">
    <div class="list-topics-content">
      <ul>
        <li>
          <div class="single-list-topics-content">
            <div class="single-list-topics-icon">
              <i class="flaticon-restaurant"></i>
            </div>
            <h2><a href="#">resturent</a></h2>
            <p>{{ places_restaurant }}</p>
          </div>
        </li>
        <li>
          <div class="single-list-topics-content">
            <div class="single-list-topics-icon">
              <i class="flaticon-building"></i>
            </div>
            <h2><a href="#">hotels</a></h2>
            <p>{{ hotels }}</p>
          </div>
        </li>
        <li>
          <div class="single-list-topics-content">
            <div class="single-list-topics-icon">
              <i class="flaticon-pills"></i>
            </div>
            <h2><a href="#">healthcaree</a></h2>
            <p>{{healthcare}}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!--/.container-->
</section>
<!--/.list-topics-->
<!--/.list-topics-->
<!--list-topics end-->

<!--works start -->
<section id="works" class="works">
  <div class="container">
    <div class="section-header">
      <h2>Te ofrecemos nuestros mejores servicios</h2>
      <p>Lee más sobre nuestra forma de trabajar</p>
    </div>
    <!--/.section-header-->
    <div class="works-content">
      <div class="row">
        {% for work in works  %}
        <div class="col-md-4 col-sm-6">
          <div class="single-how-works">
            <div class="single-how-works-icon">
              <img
              src="{{work.image.url}}"
              alt="blog image"
            />
            </div>
            <h2>
              <a href="{% url 'work-detail' work.id %}">{{work.title}}</a>
            </h2>
            <p>
              {{work.description|striptags|safe|truncatechars:"200"}}
            </p>

          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <!--/.container-->
</section>
<!--/.works-->
<!--works end -->

<!--blog start -->
<section id="blog" class="blog">
  <div class="container">
    <div class="section-header">
      <h2>Noticias y artículos</h2>
      <p>Mantente informado sobre nuestra compañía con nuestros artículos</p>
    </div>
    <!--/.section-header-->
    <div class="blog-content">
      <div class="row">
        {% for article in articles %}
        <div class="col-md-4 col-sm-6">
          <div class="single-blog-item">
            <div class="single-blog-item-img">
              <img
                src="{{article.image.url}}"
                alt="blog image"
              />
            </div>
            <div class="single-blog-item-txt">
              <h2>
                <a href="{% url 'article-detail' article.id %}">{{article.title}}</a>
              </h2>
              <h4>posted <span>by</span><b> {{article.user_post.username}} </b>{{article.created_at}}</h4>
              <p>
                {{article.description|striptags|safe|truncatechars:"200"}}
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <!--/.container-->
</section>
{% endblock content %}
